.left-sidebar {
    @extend %margin-bottom-ld;
}

.panel:last-child {
    margin-bottom: 0;
}

.vertical-slider {
    border-radius: 4px;
    overflow: hidden;
    &__image {
        width: 100%;
    }
}

.user-login {
position: relative;

    &__tabs {
        position: absolute;
        top: 0;
        right: $gap;
        border: none;
        margin-right: -5px;

        a {
            background-color: transparent !important;
            color: $color-gray;
            border: none !important;
            padding: 14px 5px 11px !important;
        }

        .active a {
            color: $color-light !important;
        }
    }
}